:root{
	--donation: '+25%';
	--save0: 'Click to Save to Clipboard';
}
title::before{
	content: 'EVO Idle';
}
.marquee{
  animation: marquee 5s alternate infinite;
}
.marquee::before{
  content: '!!Important!!';
}
@keyframes marquee{
  0%{margin-left: 0%;}
  50%{margin-left: 80%;}
  100%{margin-left: 0%;}
}
.status::before{
	white-space: pre-wrap;
	content: 'Game Status'
			 '\a''Version: 'var(--version)
			 '\a''Updated: 'var(--date);
	font-weight: bold;
}
.prototype::before{
	content: 'Prototype';
	font-weight: bold;
}
.protoStatus::after{
	white-space: pre-wrap;
	color: green;
	content:	'Stage One'
				'\a''Stage Two'
				'\a''Save Local'
				'\a''Offline Progression'
				'\a''Combat (PvE)'
				'\a''Reincarnation';
}
.alpha::before{
	content: 'Alpha Release';
	font-weight: bold;
}
.alphaStatus::before{
	white-space: pre-wrap;
	color: green;
	content:	'Stage Three'
				'\a''Anti Auto Clicker'
				'\a''Server'
				'\a''Chat Room'
				'\a''Xcross Evolution'
				'\a''Temporal Evolution';
}
.alphaStatus::after{
	white-space: pre-wrap;
	color: red;
	content:	'\a''Save Cloud'
				'\a''Exotic Evolution'
				'\a''Event Revamp'
				'\a''Event Evolution'
				'\a''Stage Four'
				'\a''Stage Five'
				'\a''Stage Six';
}
.beta::before{
	content: 'Beta Release';
	font-weight: bold;
}
.betaStatus::after{
	white-space: pre-wrap;
	color: red;
	content:	'Graphics'
				'\a''Combat (PvP)'
				'\a''Game Store';
}
.event::before{
	content: 'First Event';
}
.wipe::before{
	content: 'All Saves Wiped';
}
#bonus::before{
	white-space: pre-wrap;
	content:	'Donation Bonuses'
				'\a''Metabolism: 'var(--donation);
}
.soft{
    position: absolute;
    right: 0%;
    bottom: 10%;
}
.soft:hover{
	border: double;
}
.soft::before{
	content: 'Soft Reset';
}
.hard{
    position: absolute;
    right: 0%;
    bottom: 5%;
}
.hard:hover{
	border: double;
}
.hard::before{
	content: 'Hard Reset';
}
copyright{
    position: absolute;
    right: 0%;
    bottom: 0%;
}
copyright::after{
	content: '\00A9  Tailed Beast Games LLC 2020';
}
.title::before{
	content: 'EVO Idle';
	font-size: 80px;
	font-weight: bold;
}
.start::before{
	content: '!!START!!';
	font-size: 40px;
	font-weight: bold;
}
container{
	margin-top: 5vh;
    width: 50vw;
    float: left;
}
label{
	float: left;
	width: 8vw;
	text-align: center;
}
container label{
	visibility: initial;
}
#intro::before{
	content: 'Intro';
}
#helpers::before{
	content: 'Contributers';
}
#donators::before{
	content: 'Donators';
}
#links::before{
	content: 'Links';
}
#save::before{
	content: 'Save';
}
.link{
	color: silver;
	font-size: 20px;
	text-align: center;
}
.text::after{
	white-space: pre-wrap;
	content:	'\a'' '
				'\a'' '
				'\a''EVO Idle is in Alpha Development.'
				'\a''EVO Idle works great in Chrome and Opera.'
				'\a''EVO Idle mostly works in FireFox, but not completely.'
				'\a''Edge or Internet Explorer died after looking at the first line of code.'
				'\a''The developer will do her best to preserve saves but some times that may not be possible.'
				'\a''Please report any bugs and balance advice.'
				'\a''To the left you can see the designers to-do list.'
				'\a''Green means that part is active in the game.'
				'\a''Red means that part is planned to eventually and hopefully be added to the game.'
				'\a''I will develop content as fast as I can, but I am homeless.'
}
.helpers::after{
	white-space: pre-wrap;
	content:	'\a'' '
				'\a'' '
				'\a''Tailed Beast Games LLC'
				'\a'
				'\a''Designer & Programmer'
				'\a''Tygari Davis'
				'\a'
				'\a''System Administrator'
				'\a''Kent Taylor'
				'\a'
				'\a''Other'
				'\a''Nova Labs - http://www.nova-labs.org'
				'\a''Nova Labs taught me to program and allowed me to use their facility to work at for 2 years and 4 months.'
				'\a''Nova Labs passed new rules severely restricting Homeless people to the point I could no longer study there.'
}
.donators::before{
	white-space: pre-wrap;
	content:	'\a'' '
				'\a''\a''All donations give a permanent bonus for the duration of Alpha.'
				'\a''Metabolism Bonus 'var(--donation)
				'\a';
}
.paypal::before{
	content: 'PayPal Donation';
	border-style: solid;
}
.donators::after{
	white-space: pre-wrap;
	content:	'Donators'
				'\a''SpecialWES $225.00'
				'\a''venti5 $25.00';
}
.links::before{
	white-space: pre-wrap;
	content:	'\a'' ';
}
.patreon::before{
	content: 'Patreon';
}
.discord::before{
	content: 'Discord';
}
.reddit::before{
	content: 'Reddit';
}
.github::before{
	content: 'GitHub';
}
.save{
	margin-top: 55px;
	word-break: break-all;
}
.save0{
	text-align: center;
}
.save0::before{
	content: var(--save0)'\a''';
}
.save1::before{
	content: var(--save1);
}
.save2::before{
	content: var(--save2);
	display: none;
}
web{
	display: none;
	position: absolute;
	z-index: 9;
	height: 200px;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	white-space: pre-wrap;
}
comp{
	display: block;
	transform: translate(0px,-30px);
	color: black;
	text-align: center;
}
comp:before{
	content:	'EVO Idle uses Web Components.'
				'\a''This browser currenctly has Web Components Disabled.'
				'\a''Please Enable Web Components in this browsers configuration.'
				'\a''Then reload the game.';
}