#structure::before {
	content: 'Cell Structures''\a';
}
#basic::after {
	content: 'Basic';
}
.basic::after {
	content: 'The basic metabolism that is simple chemical reactions.';
}
#ATP::before {
	content: '\a''ATP';
}
#ATP c::before {
	content: '  ('var(--ATP)')';
}
.ATP::before {
	content: 'Click to grow your Cell.''\a''Adenosine Triphosphate is how your cell grows.';
}
struc#bubble::before,struc#doublebubble::before,struc#phospholipid::before,struc#cellwall::before {
	content: '\a''Membrane: ';
}
#bubble::after {
	content: 'Bubble';
}
.bubble::before {
	content: 'Your first evolution.''\a''A simple ocean bubble with amino acids in it.';
}
#doublebubble::after {
	content: 'Double Bubble';
}
.doublebubble::before {
	content: 'Double bubble wall was the second evolution of cells.''\a''A simple bubble inside of another bubble.';
}
#phospholipid::after {
	content: 'Phospholipid';
}
.phospholipid::before {
	content: 'Phospholipid membranes are aligned amphipathic molecule chains.''\a''All modern cells carry this pivitol characteristic.';
}
#cellwall::after {
	content: 'Cell Wall';
}
.cellwall::before {
	content: 'Cell Wall is a thick hard shell around a cells Phospholipid membrane.''\a''It greatly enhances a cells durability but drastically reduces a cells mobility.';
}
#cytoskeleton::before {
	content: '\a''Cytoskeleton';
}
.cytoskeleton::before {
	content: 'The internal and external structure of a cell is skeletally held together via micro filaments, intermediate filaments, and micro tubules.';
}
#nucleus::before {
	content: '\a''Nucleus';
}
.nucleus::before {
	content: 'The unified core of a cell.';
}
#mitosis::before {
	content: '\a''Mitosis';
}
#mitosis c::before {
	content: '  (~'var(--mitosis)'%)';
}
.mitosis::before {
	content: 'Cost: ' var(--cost-mitosis) '\a''Click to under go mitosis and reproduce a copy of your cell.''\a''Each upgrade rolls a random chance to gain a Evolution Point.';
}
#cytoplasm::before {
	content: '\a''Cytoplasm';
}
#cytoplasm c::before {
	content: '  ('var(--cytoplasm)')  ';
}
#cytoplasm b::before {
	content: var(--cytoplasm-x);
}
.cytoplasm::before {
	content: 'Cost: ' var(--cost-cytoplasm) '\a''Click to add Cytoplasm to your cell.''\a''Cilia processes food faster.''\a''All upgrade costs are reduced by a small amount';
}
#cilia::before {
	content: '\a''Cilia';
}
#cilia c::before {
	content: '  ('var(--cilia)')  ';
}
#cilia b::before {
	content: var(--cilia-x);
}
.cilia::before {
	content: 'Cost: ' var(--cost-cilia) '\a''Click to grow more Cilia for your cell.''\a''Cilia gathers food for your metabolism to convert to ATP.';
}
#flagellum::before {
	content: '\a''Flagellum';
}
#flagellum c::before {
	content: '  ('var(--flagellum)')  ';
}
#flagellum b::before {
	content: var(--flagellum-x);
}
.flagellum::before {
	content: 'Cost: ' var(--cost-flagellum) '\a''Click to grow a stronger Flagellum for your cell.''\a''Flagellum reduces the cost of movement for your cell and makes it easier to find more food.';
}
#ribosome::before {
	content: '\a''Ribosome';
}
#ribosome c::before {
	content: '  ('var(--ribosome)'k)  ';
}
.ribosome::before {
	content: 'Cost: ' var(--cost-ribosome) '\a''Organic nanofactories composed of RNA within cells.''\a''Fabricates RNA and proteins from amino acids.';
}
#endoplasmic::before {
	content: '\a''Endoplasmic Reticulum';
}
#endoplasmic c::before {
	content: '  ('var(--endoplasmic)')  ';
}
.endoplasmic::before {
	content: '\a''A network of membranous tubules within the cytoplasm.''\a''Assists with the production and transport of proteins.';
}
#golgi::before {
	content: '\a''Golgi Apparatus';
}
#golgi c::before {
	content: '  ('var(--golgi)')  ';
}
.golgi::before {
	content: '\a''A stack of small flat sacs formed by membranes inside a cell’s cytoplasm.''\a''Assists with the production and transport of proteins.';
}
#RNA::before {
	content: '\a''RNA';
}
#RNA c::before {
	content: '  ('var(--RNA)')  ';
}
#RNA b::before {
	content: var(--RNA-x);
}
.RNA::before {
	content: 'Cost: ' var(--cost-RNA) '\a''Click to make RNA for your cell.''\a''RNA is required in advanced growth and evolution.''\a''RNA requires ATP to create.';
}
#DNA::before {
	content: '\a''DNA';
}
#DNA c::before {
	content: '  ('var(--DNA)')  ';
}
#DNA b::before {
	content: var(--DNA-x);
}
.DNA::before {
	content: 'Cost: ' var(--cost-DNA) '\a''Click to make DNA for your cell.''\a''DNA is required in advanced growth and evolution.''\a''DNA requires RNA to create.';
}
#metabolism::before {
	content: '\a''Metabolism';
}
#metabolism c::before {
	content: '  (+'var(--metabolism)'%)';
}
.metabolism::before {
	content: 'Cost: ' var(--cost-metabolism) '\a''Click to improve your cell\'s metabolism.''\a''Your cells Metabolism costs RNA to improve.';
}
#mitochondria::before {
	content: '\a''Mitochondria';
}
#mitochondria c::before {
	content: '  (+'var(--mitochondria)'%)';
}
.mitochondria::before {
	content: 'Cost: ' var(--cost-mitochondria) '\a''Click to improve your cell\'s mitochondria.''\a''Mitochondria costs DNA to improve.''\a''Mitochondria further enhances your metabolism.';
}
p#photo::after {
	content: '';
}
#multicelluar::before {
	content: 'Multicelluar';
}
.multicelluar::before {
	content: 'Multicelluar evolution is the next stage in life when single celled creatures began joining together in colonies.''\a''This leads to the first simplest forms of multi cell life, sponges, anemone, jellyfish, and more.';
}