#structure::before {
	content: 'MultiCell Structures';
}
#nutrient::before {
	content: '\a''Nutrient';
}
#nutrient c::before {
	content: '  ('var(--nutrient)')';
}
.nutrient::before {
	content: 'Yours cell\'s nutrients for growing and developing.';
}
#colony::before {
	content: '\a''Colony';
}
#colony c::before {
	content: '  ('var(--colony)')';
}
#colony b::before {
	content: '  'var(--colony-x);
}
.colony::before {
	content:	'Cost: 'var(--cost-colony)' 'var(--foodtype)
				'\a''Click to mitosis a cell and try to adhere to it.'
				'\a''It will help you gather nutrients';
}
#EPS::before {
	content: '\a''EPS';
}
#EPS c::before {
	content: '  ('var(--EPS)')  ';
}
#EPS b::before {
	content: var(--EPS-x);
}
.EPS::before {
	content:	'Cost: 'var(--cost-EPS)' 'var(--foodtype)
				'\a''Click to make Extracellular Polymeric Substances to protect from the pH of the water.';
}
#sex::before {
	content: '\a''Sexual Reproduction';
}
.sex::before {
	content: 'Sexual Reproduction is the act of sharing genetic material between two organisms.';
}
#celladhesion::before {
	content: '\a''Cellular Adhesion';
}
#celladhesion::after {
	content: ': 'var(--celladhesion)'%';
}
.celladhesion::before {
	content: 'Cellular adhesion is your cell\'s ability to stick to other cells of the same type.';
}
#communication::before {
	content: '\a''Cellular Communication';
}
.communication::before {
	content: 'Your cell\'s capability to communicate with other cells of the same type.';
}
#organization::before {
	content: '\a''Cellular Organization';
}
.organization::before {
	content: 'Your cell\'s capability to organize itself with other cells of the same type.';
}
#quorum::before {
	content: '\a''Quorum Sensing';
}
.quorum::before {
	content: 'Quorum Sensing is a colony\'s ability to count how many of their own type there is within the colony.';
}
#biofilm::before {
	content: '\a''Biofilm';
}
.biofilm::before {
	content: 'Biofilm is a mucus coating of Extracellular Polymeric Substances used to protect a cell colony from pH differences.';
}
#osmoregulation::before {
	content: '\a''Osmoregulation';
}
#osmoregulation::after {
	content: ': 'var(--osmoregulation);
}
.osmoregulation::before {
	content:	'Osmoregulation is a cell\'s and colony\'s ability to regulate osmotic pressure.'
				'\a''This is to maintain homeostasis of the colony\'s water content.';
}
#motility::before {
	content: '\a''Swarming Motility';
}
#motility::after {
	content: ': 'var(--motility);
}
.motility::before {
	content: 'Swarming Motility is your colony\'s ability to move as a collective in a desired direction.';
}
#specialization::before {
	content: '\a''Cellular Specialization';
}
.specialization::before {
	content:	'Cellular Specialization is the critical ability for cells within a colony to specialize in a given task.'
				'\a''But comes at the cost of no longer being able to survive on their own.'
				'\a''This is a major evolutionary step in advanced life.';
}
#circular::before {
	content: '\a''Circular Symmetry';
}
.circular::before {
	content: 'Your cells and newly developed systems find efficiency in organization and evolve into circular symmetry.';
}
#radial::before {
	content: '\a''Radial Symmetry';
}
.radial::before {
	content: 'Your cells and newly developed systems find efficiency in organization and evolve into radial symmetry.';
}
#dependency::before {
	content: '\a''Dependency';
}
.dependency::before {
	content: 'Some of your cells and newly developed systems have specialized to the degree that they can no longer survive on their own becoming dependent upon each other.';
}
#worm::before {
	content: 'Worm';
}
.worm::before {
	content:	'Sea worms became the first creatures to bring together the first eight biological systems into a single entity.'
				'\a''They are the spring board from which all complex life sprang from.'
}